<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/weather.png">
<title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Aryan Bhardwaj. It use data from mapbox.com and weatherstack.com!</p>
        <img src="/img/My_pic.png" alt="My image">
    </div>
    
    {{>footer}}
    
     <script src="/js/app.js"></script>
</body>
</html>