<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">

<title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/My_pic.png" alt="My image">
    </div>
    
    {{>footer}}
    
     <script src="/js/app.js"></script>
</body>
</html>